<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      IO
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Sup\IO\io.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>IO</h2>

        <h5> A Deusa Despedaçada</h5>
        <h6>Suporte <img id="lg" src="\assets\Paladins\classes\sp.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Por éons, a deusa da lua Io observou o Reino. Mas então o desastre abateu-se: a Escuridão abafou a luz da
            deusa, e despedaçou a lua que paira sobre as nossas cabeças. Os pedaços da lua caíram no Deserto Destruído,
            para onde os devotos da deusa passaram a peregrinar. Eles mantiveram uma longa vigília pela deusa
            despedaçada, rezando para que ela voltasse um dia. Esse dia finalmente chegou quando as tropas do Magistrado
            marcharam em direcção dos fragmentos da lua, determinados a usar o seu poder na vindoura guerra contra os
            Paladinos. Atendendo ao chamado do seu colega celestial Jenos, Io revelou a sua forma verdadeira para o seu
            seguidores e postou-se contra o Magistrado. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\IO\len\goddess'-blessing.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              BÊNÇÃO DA DEUSA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Aliados que estão sendo curados pela Luz da Lua ganham 25% de redução de dano


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\IO\len\life-link.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              ELO DA VIDA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Luna agora cura os aliados em volta em 300 de vida por segundo.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\IO\len\sacrifice.png" ionError="Tyra"> </ion-img>
            <ion-card-title>

              SACRIFÍCIO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Se Io chegar abaixo de 200 de vida quando Luna estiver ativa, ela troca de lugar com Luna e se cura, e Luna
            morre em seu lugar.






          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\IO\skill\light-bow.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">

              ARCO DE LUZ

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Uma arma divina que dispara a cada 0,6s uma flecha que causa 400 de dano.



          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\IO\skill\moonlight.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              LUZ DA LUA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Canaliza a Luz da Lua em um aliado, curando-o em 135 a cada 0,15s. Luz da Lua se regenera enquanto não é
            usada.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\IO\skill\guardian-spirit.jpg" ionError="BOMBA"> </ion-img>
            <ion-card-title>
              ESPÍRITO GUARDIÃO


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Conjura Luna para lutar ao seu lado. Luna vai atacar e atordoar inimigos marcados pelo seu Arco de Luz a
            cada 15s. Luna pode ser reconjurada a um novo local a cada 8s.


          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\IO\skill\lunar-leap.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
              SALTO LUNAR


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Salta rapidamente para trás pelo ar.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\IO\skill\begone.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              FORA DAQUI



            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Projeta uma manifestação etérea de Luna e manda-a à frente. Inimigos atingidos serão arrastados pelo caminho
            que ela percorrer, e tomam 800 de dano quando ela colidir com uma parede.




          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>