<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Makoa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Tank\Makoa\makoa.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Makoa</h2>

        <h5>O Ancião</h5>
        <h6>Tanque <img id="lg" src="\assets\Paladins\classes\TANK.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            　　Antigamente um dedicado protector de uma ilha que era o lar dos Ska'drin, o ancião Makoa foi chamado a
            participar da guerra contra o Magistrado no continente. Ele tem esperanças de um dia voltar, pois teme que
            os inquietos vulcões destruam o arquipélago na sua ausência. Enquanto isso, ele traz tanto a fúria do oceano
            quanto a inquebrantável resiliência do espírito quelónio, aliados a vários complementos navais, para
            enfrentar todos aqueles que ousam desafiar o mundo natural. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Makoa\len\leviathan.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                LEVIATÃ
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Sua vida máxima normal aumenta em 600 e, durante a Fúria Ancestral, você ganha imunidade a controle coletivo.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Makoa\len\half-shell.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                MEIO CASCO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              O Encouraçado agora é fixado no chão ao invés de acompanhar Makoa, e dura 2s a mais.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Makoa\len\pluck.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                SOLAVANCO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Ganha 65% de dano adicional no disparo dado no inimigo que acabou de ser puxado pela Âncora Pesada.



          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Makoa\skill\cannon.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">CANHÃO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Seu canhão, recuperado de um navio, dispara uma bala que causa 650 de dano por segundo. Efetivo a curta distância.

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Makoa\skill\dredge-anchor.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
                ÂNCORA PESADA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Lança sua âncora e puxa um inimigo incauto.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Makoa\skill\shell-shield.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>ENCOURAÇADO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Projeta um escudo com 6000 de vida que bloqueia o fogo inimigo por 4s.

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Makoa\skill\shell-spin.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
                CASCO GIRATÓRIO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Esconde-se no seu casco e sai girando em frente, causando 150 de dano e empurrando os inimigos que estiverem no caminho.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Makoa\skill\ancient-rage.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
                FÚRIA ANCESTRAL



            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Invoca o poder dos ancestrais, larga o canhão e por 8s gira a âncora, causando 650 de dano por acerto. Além disso, aumenta em 5000 a sua vida.



          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>