<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guardião
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
                <ion-col align-self-center>
                  <ion-item routerLink="#" routerDicetion="#">
                      <ion-thumbnail slot = "start">
                      <ion-img src="/assets/smite/Guardião/athena.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                      <h1 >Athena</h1>
                  </ion-item>
                  </ion-col>
                  <ion-col align-self-center>
                    <ion-item routerLink="#" routerDicetion="#">
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/smite/Guardião/Cerberus.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                        <h1 >Cerberus</h1>
                    </ion-item>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col align-self-center>
                    <ion-item routerLink="#" routerDicetion="#">
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/smite/Guardião/Ganesha.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                        <h1 >Ganesha</h1>
                    </ion-item>
                    </ion-col>
                    <ion-col align-self-center>
                      <ion-item routerLink="#" routerDicetion="#">
                          <ion-thumbnail slot = "start">
                          <ion-img src="/assets/smite/Guardião/Ymir.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                          <h1 >Ymir</h1>
                      </ion-item>
                      </ion-col>
                  </ion-row>

      </ion-grid>
</ion-content>
