<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jenos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Sup\Jenos\jenos.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Jenos</h2>

        <h5> O Ascendido</h5>
        <h6>Suporte <img id="lg" src="\assets\Paladins\classes\sp.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Escalando a montanha para escapar dos atacantes que vieram com a Segunda Investida muitas gerações atrás,
            Jenos era apenas um jovem monge em busca de uma sabedoria superior. Ao encontrar essa sabedoria escrita nas
            estrelas, Jenos ascendeu aos céus, desaparecendo por anos, mas deixando para trás um pequeno grupo de
            seguidores dedicados a continuar o seu legado. Agora, com a guerra a descer sobre o Reino uma vez mais,
            Jenos também se viu obrigado a descer das estrelas e caminhar novamente sobre o solo, juntando-se à batalha
            por motivos arcanos que só ele compreende. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Jenos\len\binary-star.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              ESTRELA BINÁRIA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Detonador das Estrelas agora causa 360 de dano a cada 0,4s.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Jenos\len\luminary.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              LUMINOSO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Qualquer aliado afetado pela Marca Astral causa 15% a mais de dano com sua arma.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Jenos\len\the-power-cosmeum.png" ionError="Tyra"> </ion-img>
            <ion-card-title>

              O PODER CÓSMICO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Inimigos afetados pelo Agarrão do Vazio são debilitados e recebem 360 de dano adicional pela sua duração.








          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Jenos\skill\star-splitter.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">

              DETONADOR DAS ESTRELAS

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Uma arma de outro mundo que canaliza o poder das estrelas. Causa 108 de dano a cada 0,13s a média distância.



          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Jenos\skill\astral-mark.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              MARCA ASTRAL

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Aplica uma bênção celestial através de obstáculos, curando os aliados em 300 de vida e um adicional de 220
            de vida por segundo durante 10s.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Jenos\skill\void-grip.jpg" ionError="BOMBA"> </ion-img>
            <ion-card-title>
              AGARRÃO DO VAZIO


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Canaliza energia gravitacional e ergue o inimigo, causando até 360 de dano durante 2,5s. Se o alvo conseguir
            se mover enquanto estiver sendo erguido, cancela o Agarrão do Vazio.


          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\IO\skill\lunar-leap.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
              VENTO ESTELAR


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Abaixa sua arma e move-se 65% mais rápido, além de pular mais alto e }ter uma velocidade da queda menor.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Jenos\skill\through-time-and-space.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              ESPAÇO-TEMPO




            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Fica imóvel por 1,2s enquanto acumula todo o poder do cosmos, sendo imune a controle coletivo, e então
            libera um longo disparo de energia que atravessa todos os obstáculos e causa 2400 de dano.




          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>