<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ganesha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Ganesha" routerDicetion="/Ganesha">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guardião/Ganeshaskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Diretor do submundo</h3>
                </ion-item>
                <p>Depois de uma celebração rigorosa, Parvati, Deusa da fertilidade e do amor, lavou a sujeira e o suor de seu corpo. Flutuou sobre a superfície de sua piscina, sem forma e sem propósito. Com um aceno de mão, transformou-se em um menino, seu filho, e o colocou para guardar a porta enquanto ela terminava de lavar. Shiva, o ser supremo, retornou e encontrou esta criança obstinadamente bloqueando seu caminho. Temendo a segurança de sua esposa, Shiva desembainhou a espada e cortou-a.

                  "Este é seu filho!" Parvati chorou. "Você deve salvá-lo!"
                  
                  Apressadamente, Shiva substituiu a cabeça da criança pela criatura mais sábia do mundo, a de elefante. Assim, foi Ganesha verdadeiramente nascido.
                  
                  Generoso, caloroso e otimista, Ganesha assumiu a autoridade sobre a coisa que sua mãe lhe encarregou - obstáculos. Para aqueles cujos corações estão cheios de arrogância prepotente, Ganesha desafia o progresso. Dificuldades financeiras, materiais defeituosos e infelicidade afetam cada ação deles. Mas, para o honesto, o trabalho árduo, Ganesha abre o caminho. Uma vida de boa sorte, céus brilhantes e risadas alegres.
                  
                  Obstáculos podem ser colocados ou removidos. Então, para Ganesha, todos os mortais oram quando iniciam um novo empreendimento, que seu caminho será aberto e seu futuro brilhante. Que ele possa conceder-lhes sucesso.
                  
                  Apenas com relutância Ganesha se juntou à Batalha dos Deuses. A violência é o último obstáculo que o Deus-elefante jamais colocaria. Mas estes não são mortais que ameaçam a existência. Eles são deuses, e é hora de Ganesha determinar quem deve ser bem-sucedido e quem deve falhar.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>