<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Athena
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Athena" routerDicetion="/Athena">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guardião/AthenaSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Deusa da Sabedoria</h3>
                </ion-item>
                <p>Na guerra, há dois tipos de soldados: Aqueles que lutam por sangue e aqueles que lutam por honra. O primeiro anseia pelo embate do aço e pelo cheiro de carnificina, o segundo conhece a sabedoria da justiça, a bondade da misericórdia e sabe que vidas jamais deveriam ser tomadas arbitrariamente. Esses guerreiros diferentes buscam Deuses diferentes. Ares, o Deus da Guerra, regozija-se com banhos de sangue, mas sua irmã, Atena, a Deusa da Sabedoria, é patrona daqueles que lutam com dignidade e apenas quando não há outra alternativa.

                  Filha favorita de Zeus, sábia como dez mil estudiosos, justa como as balanças; Atena é um paradigma de virtude incorruptível e adorada com fervor justificado. Ela é tão reverenciada que Atenas, a maior cidade de todo o mundo, foi batizada em sua homenagem e, templos majestosos adornam o campo em sua honra, cada um cuidado por sacerdotisas leais. Para Atena, a vida é algo precioso que não precisa ser desperdiçado em batalhas frívolas. Ares, sedento de sangue, é por outro lado desprezado pelo seu pai e acorrentado por seus súditos vorazes.
                  
                  No Cerco de Tróia, Ares desobedeceu Zeus e se juntou à batalha, lutando pelos mortais troianos. Atena se levantou para impedí-lo, indiretamente se tornando a campeã dos gregos, mas diretamente mantendo a ordem da lei divina. A terrível batalha entre eles atingiu proporções inenarráveis, terminando apenas quando Ares mancou para fora do campo de batalha, intimidado pela irmã e rival. Com Ares diminuído, a maré da guerra virou e os heróis do Exército Grego derrubaram Tróia.
                  
                  Em tempos de guerra, preces são enviadas aos dois Deuses. A Ares, pedindo por uma vitória sangrenta; a Atena, pedindo por honra, coragem e por sabedoria para lutar com dignidade. Não se engane: estes são tempos de guerra e Ares já respondeu ao chamado às armas. Atena, sempre cautelosa com vidas, vai à batalha sem ansiedade, mas por pura necessidade, pois a Deusa da Sabedoria sabe que a honra é para os vivos. Os mortos não precisam dela.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>