<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fernando
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Tank\Fernando\s5uso7xytsy01.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Fernando</h2>

        <h5>O Auto-Proclamado Cavaleiro</h5>
        <h6>Tanque <img id="lg" src="\assets\Paladins\classes\TANK.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            Mesmo sem ter sangue nobre, ou qualquer treinamento em combate, Fernando pegou para si o manto de cavaleiro
            quando o mestre que ele servia encontrou um destino cruel. Desse momento em diante ele passou de uma
            aventura para a outra, fazendo o nome ser conhecido por todo o Reino. Quando o Magistrado recrutou todas as
            casas leais a juntarem-se no esforço contra a Resistência, ele atendeu ao chamado com orgulho. Se o seu
            valor em combate e o seu charme confiante conseguirem evitar que os seus aliados descubram a verdade sobre a
            sua origem nada nobre, ele poderá tornar-se o Campeão que ele soube que tinha condições de ser. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Fernando\len\scorch.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              CHAMUSCADO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Bola de Fogo causa 45% a mais de dano para cada alvo subsequente atingido após o primeiro.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Fernando\len\aegis.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              ÉGIDE
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Seu Escudo tem duração infinita e o intervalo é reduzido a 12s.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Fernando\len\formidable.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              FORMIDÁVEL
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Regenera 55% da sua vida máxima durante 3s quando chega abaixo de 40% da sua vida máxima.

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Fernando\skill\flame-lance.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">LANÇA DE CHAMAS
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Um lança-chamas de curto alcance que causa 35 de dano por golpe a cada 0,1s. As chamas causam dano
            prolongado de 200 durante 2s. A arma se recarrega enquanto não é usada.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Fernando\skill\shield.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              ESCUDO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expande seu escudo, que bloqueia 8.000 de dano por 10s. Você não pode atacar enquanto o seu escudo estiver
            ativo.

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Fernando\skill\fireball.jpg jpgionError="BOMBA"> </ion-img>
            <ion-card-title>BOLA DE FOGO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara uma bola de fogo que causa 450 de dano

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Fernando\skill\charge.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
              INVESTIDA
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Executa uma arremetida veloz que causa 200 de dano.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Fernando\skill\immortal.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              IMORTAL

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Fernando e seus aliados em uma área de 70 unidades não podem ficar com menos de 1500 de vida ou serem
            afetados por qualquer dano de efeito prolongado durante 4s.

          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>