<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Hades" routerDicetion="/Hades">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Mago/Hadesskin.png"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Rei do Submundo</h3>
                </ion-item>
                <p>Inevitavelmente, a morte envia todos a Hades, o Deus do Submundo. No fim das contas, ele sempre consegue o que quer.

                  Filho mais velho dos Titãs Crono e Reia, Hades foi engolido pelo seu pai quando criança, junto com cinco de seus irmãos. Zeus, o irmão caçula, escapou desse destino e libertou os demais quando se tornou forte o suficiente para enfrentar Cronos. Juntos, os seis irmãos derrotaram os Titãs e os baniram para o sombrio reino do Tártaro. Agora, os deuses reinantes, Zeus, Poseidon e Hades, sortearam seus domínios entre si. Hades ficou com o Submundo.
                  
                  Os poucos que entraram no Submundo e voltaram falam sombriamente desse lugar, nunca desejando voltar. Mas o próprio Hades raramente abandona seu reino subterrâneo, constantemente buscando maneiras de aumentar o número de mortos.
                  
                  Quando ele decidiu ter uma esposa, Hades capturou a radiante Perséfone, filha da Deusa Deméter. Escondida no Submundo, ninguém podia alcançá-la, então Deméter amaldiçoou a terra com uma enorme onda de fome. Os outros Deuses imploraram a ela para dar fim a isso, antes que ela acabasse com a humanidade, mas ela não desistiria até sua filha ser devolvida. Hades finalmente deixou Perséfone sair, mas não antes de alimentá-la com sementes de romã. Tendo consumido a fruta, ela ficou para sempre ligada ao Hades e precisava retornar ao seu marido uma vez ao ano para comer as sementes novamente. Isso, diz-se por aí, é um momento de luto e a causa do inverno.
                  
                  Apesar de muitos temerem a morte e vê-la como algo ruim, na verdade, Hades apenas luta para manter o equilíbrio. Ele é severo, mas justo. Como Deus dos Mortos e do Submundo, ele vê sua autoridade nesse assunto como absoluta, proibindo qualquer um de deixar seu reino e ficando irritado quando é desobedecido ou quando alguém tentar trapacear a morte ou roubar dele.
                  
                  Para todos, a morte é uma certeza da qual não se pode escapar, e servir a Hades é algo inevitável. Até mesmo para os Deuses.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>