<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fenrir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Fenrir" routerDicetion="/Fenrir">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Assassino/Fenrirskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>O Desacorrentado</h3>
                </ion-item>
                <p>Mortais precisam depender da sabedoria dos Deuses, mas nunca se esquecem que estes são falíveis. Os Deuses podem ser mesquinhos, impertinentes e, o pior de tudo, podem estar errados. Quais são as consequências de seus erros? Eles deveriam ter assassinado a besta-lobo, Fenrir, mas decidiram, ao invés disso, aprisioná-lo. Apesar dos avisos e profecias de que ele despedaçaria Odin no Ragnarök e devoraria a terra e o céu, eles não tomaram a vida do filho de Loki. Agora, o terror perambula livremente. Não se sabe como, mas Fenrir está Desacorrentado.

                  Três vezes eles tentaram prendê-lo, cada uma convencendo Fenrir de que as correntes não eram nada mais que um desafio para sua força, um teste para ver se ele poderia destroçá-las. Os primeiros dos grilhões forjados pelos Deuses foram facilmente quebrados pelo poder terrível da fera, mas o terceiro era uma fita, feita por anões, e Fenrir suspeitou das intenções dos Deuses. Como uma prova de boa fé, ele exigiu que um deles colocasse a mão em sua boca, e se a fita se provasse de natureza mágica, ele executaria sua punição. Corajoso, mas talvez tolo, Tyr colocou seu punho na boca de Fenrir enquanto a fita foi prendida na perna do lobo. Fenrir se torceu e gritou, mas não pôde se libertar e enraivecido, devorou a mão de Tyr.
                  
                  Por um tempo, Fenrir foi esquecido; a terrível profecia apenas uma memória. Mas todos foram alertados... E os deuses nada fizeram. Agora, Fenrir está faminto. O primeiro caçador, um alfa entre ovelhas... Mas nenhuma carne irá satisfazer seus desejos. É por vingança que ele anseia e agora está Desacorrentado.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>