<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fúria
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Sup\Fúria\furia.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Fúria</h2>

        <h5> Anjo da Vingança</h5>
        <h6>Suporte <img id="lg" src="\assets\Paladins\classes\sp.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Sarah orou à Pira Eterna por força para poder lutar contra o Abismo, para vingar a irmã perdida. As suas
            preces foram atendidas. Ela foi salva do Abismo, e transformada em Furia, um anjo vingador com a chama
            purificadora encarnada. Agora, as irmãs estão em lados opostos, meros instrumentos de poderes de outro
            mundo, muito além da compreensão dos simples mortais. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Fúria\len\solar-blessing.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              BENÇÃO SOLAR

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Ataque Ardente agora para de avançar e cura em 300 de vida a cada 0,05s os aliados que o atravessarem.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Fúria\len\exterminate.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              EXTERMÍNIO


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Quando o Ataque Ardente acerta um inimigo, ele para de avançar até que sua duração termine.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Fúria\len\cherish.png" ionError="Tyra"> </ion-img>
            <ion-card-title>

              VALORIZADO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Alma em Chamas cura até 25% a mais com base na quantidade de vida que o aliado perdeu, e tem um alcance 300%
            maior.





          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Fúria\skill\pyre-blade.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">LÂMINA CANDENTE


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Causa 330 de dano a cada 0,5s a médio alcance. Curar aliados aumenta a sua ira, o que aumenta também sua
            velocidade de ataque. A ira diminui com o tempo.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Fúria\skill\kindle-soul.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              ALMA EM CHAMAS

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Foca em um aliado próximo e conjura um feitiço que cura em 1000 na hora e depois 500 durante 2s.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-img src="\assets\Paladins\Sup\Fúria\skill\pyre-strike.jpg" ionError="BOMBA"> </ion-img>
            <ion-card-title>ATAQUE ARDENTE


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Inimigos pegos no seu caminho são atordoados por 1s e recebem imediatamente 400 de dano e mais 20 de dano a
            cada 0,05 que permanecerem dentro do raio.

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Fúria\skill\wings-of-wrath.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
              IRA ALADA


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Move-se para trás e dispara 3 ataques guiados que causam 200 de dano cada.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Fúria\skill\inflame.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              INFLAMAR


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Canaliza o Ataque Ardente e se torna inatingível por 2s. Depois disso, você e os aliados dentro de 45m
            ganham 30% de bônus de dano de arma e de movimento por 8s.




          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>