<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Cassie
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center name="lobo" id="lobo">
  
  
          <ion-img src="\assets\Paladins\Dano\Drogoz\drogoz.png" ionError="cassie" style="
                  background-color: #0e222b;
                  width: 106%;
                  border: 2px inset rgb(15,41,50);
  ">
          </ion-img>
  
  
          <h2>Drogoz</h2>
  
          <h5>O Ganancioso</h5>
          <h6>Dano <img id="lg" src="\assets\Paladins\classes\DMG.png"></h6>
  
          <br>
          <div id="BD">
            <h1>História</h1>
            <h3>
                Nascido sem asas, como um simples Wyrin sob o julgo de um maléfico dragão, Drogoz escapou da sua servidão
                usando um par de asas metálicas movidas a energia de cristal, criadas por um talentoso engenheiro anão*. O
                sangue draconiano que corre nas suas veias ferveu de cobiça e crueldade, levando-o a uma onda de fúria e
                destruição por todo o Reino enquanto ele busca juntar a sua própria horda - uma que rivalizará com as dos
                verdadeiros dragões. Conforme a guerra avança, Drogoz singra os céus, mergulhando de surpresa para atacar
                os seus inimigos da forma mais rápida e violenta possível.
  
  
            </h3>
          </div>
        </ion-col>
  
      </ion-row>
  
      <h4>Talentos</h4>
      <ion-slides pager="true">
        <ion-slide>
          <ion-card>
            <ion-card-header>
                <ion-img src="\assets\Paladins\Dano\Drogoz\len\fusillade.png" ionError="Tyra"> </ion-img>
                <ion-card-title>FUZILAMENTO</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
                Tiros diretos causam 25% a mais de dano.
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
                <ion-img src="\assets\Paladins\Dano\Drogoz\len\combustible.png" ionError="Tyra"> </ion-img>
                <ion-card-title>INFLAMÁVEL</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Cospe-Fogo agora causa repulsão e causa 300 de dano adicional no decorrer de 2s.
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src="\assets\Paladins\Dano\Drogoz\len\w.y.r.m.-jets.png" ionError="Tyra"> </ion-img>
              <ion-card-title>JATOS W.Y.R.M.</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Seu Impulso tem qualidade de voo aprimorada.
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <h4>Habilidades</h4>
      <ion-slides pager="true">

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src=\assets\Paladins\Dano\Drogoz\skill\rocket-launcher.jpg ionError="Tyra"> </ion-img>
              <ion-card-title class="st">LANÇA-FOGUETES</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Bombardeia as demais criaturas inferiores com foguetes explosivos que causam 850 de dano por disparo a cada
              0,85s.
            </ion-card-content>
          </ion-card>
        </ion-slide>
  
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src=\assets\Paladins\Dano\Drogoz\skill\fire-spit.jpg ionError="LANÇA-GRANADAS">
              </ion-img>
              <ion-card-title>COSPE-FOGO</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Cospe sua saliva inflamável. Inimigos atingidos por ela tomam 150 de dano e recebem 30% a mais de dano de
              seus outros ataques durante 4s. 
            </ion-card-content>
          </ion-card>
        </ion-slide>
  
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src=\assets\Paladins\Dano\Drogoz\skill\salvo.jpg ionError="BOMBA"> </ion-img>
              <ion-card-title>SALVA DE MÍSSEIS</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Carrega todos os mísseis remanescentes no seu lançador para que o próximo tiro dispare todos de uma vez.
              Esse disparo cria explosões maiores e causa 250 de dano por míssil.
            </ion-card-content>
          </ion-card>
        </ion-slide>
  
  
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src=\assets\Paladins\Dano\Drogoz\skill\thrust.jpg ionError="MARCA"> </ion-img>
              <ion-card-title>IMPULSO</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
  
              Um forte jato impulsiona para cima. Segurar Impulso usa combustível para prolongar a duração da propulsão.
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-img src=\assets\Paladins\Dano\Drogoz\skill\dragon-punch.jpg ionError="BOMBA"> </ion-img>
              <ion-card-title>SOCO DO DRAGÃO </ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Libera toda a sua fúria e turbina os propulsores para dar um soco em altíssima velocidade, que causa o
              incrível dano de 100% da vida máxima do seu alvo.
            </ion-card-content>
          </ion-card>
        </ion-slide>
  
      </ion-slides>
  
    </ion-grid>
  
  
  </ion-content>