.welcome-card img {
  max-height: 45vh;
  overflow: hidden;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
margin-left: 15px;
font-size: 14pt;
}
h5{
  font-size: 14pt;
  margin-left:  15px;
}

#pl{
  margin-left: 15px;
}