<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Arachne
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Arachne" routerDicetion="/Arachne">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Assassino/Arachneskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>A Tecelã</h3>
                </ion-item>
                <p>Ela já foi uma bela e talentosa tecelã de tecidos e panos, mas um único erro de orgulho transformou Aracne em um monstro pela eternidade.

                  Com tear e fio, ninguém era mais talentoso que a mortal Aracne. Visitantes viajavam léguas para ver sua arte, Tão maravilhosas e majestosas eram suas tapeçarias que se dizia que a fiadora devia ser instruída pela Deusa patrona dos Tecelões em pessoa, Atena. Com essa comparação, Aracne zombou dela, clamando que nem os Deuses rivalizavam seu talento em tecer.
                  
                  Quando Atena soube disso, se disfarçou de velha e visitou Aracne, encorajando-a a mostrar respeito pelos Deuses. Aracne desprezou a velha e lançou um desafio de que Divindade nenhuma, nem mesmo Atena, poderia tecer melhor que ela. Furiosa, Atena se revelou e aceitou o desafio.
                  
                  Ambas começaram a tear com fervor. Atena teceu uma maravilhosa tapeçaria, representando sua batalha com Poseidon pela cidade de Atenas. Os detalhes e imagens eram primorosos. Mas a tecelagem de Aracne mostrava Zeus e seus vários atos de infidelidade com mortais. Tão impecável, tão vívida era sua obra, que nem Atena pode negar sua técnica, nem conter sua raiva com tal insulto. Violentamente, ela rasgou a tapeçaria de Aracne e colocou seu dedo na testa dela. Torcendo-se de dor, Aracne caiu no chão enquanto novas pernas surgiam no seu corpo, gritando enquanto se transformava na primeira aranha.
                  
                  Foi um ato de raiva e pena, uma lição e uma maldição, pois as aranhas são as maiores das tecelãs, e Aracne, em particular, teceria por toda a eternidade... Mas nada disso deixaria dúvidas sobre a consequência do seu orgulho. Mesmo assim, com seu coração retorcido, Aracne jamais perdoou Atena, consumida por uma ira sombria que só poderia ser saciada com a destruição dos Deuses.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>