<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cerberus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Cerberus" routerDicetion="/Cerberus">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guardião/CerberusSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Diretor do submundo</h3>
                </ion-item>
                <p>Não passe pela extensão negra do rio Styx se o sangue ainda fluir em suas veias. Pois ali, na margem oposta, está uma besta de animosidade impossível. Três cabeças de lobo com presas serão suas boas-vindas, com os pelos eriçados, olhos como brasas, queimando verdes com chamas fantasmagóricas. Um rabo sinuoso chicoteia com uma mente própria, farpado com a cabeça de uma serpente, a língua bifurcada saboreando o ar. Se o seu corpo ainda estiver quente com o brilho da vida quando você ousar pisar na praia, Cerberus, Cão do Inferno, banquetear-se-á com a sua carne, consumindo corpo e alma.

                  Nenhuma misericórdia reside nesta criatura. Ele é um monstro, trazido a este mundo pela Mãe dos Monstros, Echidna, para nenhum outro propósito além de guardar os portões do inferno. Lá ele permanece eternamente acorrentado à passagem envolta. Nenhum dos vivos pode entrar. Nenhum dos mortos pode sair.
                  
                  Hades , mestre em Cerberus, desatou seu servo no campo de batalha dos deuses. Com sua respiração venenosa, seu cuspe ácido, seu olhar que pode transformar a carne em pedra, Cerberus agora caça livremente no mundo dos vivos, ansioso para arrastar todos de volta ao inferno.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>