<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ymir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Ymir" routerDicetion="/Ymir">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guardião/YmirSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>O Pai dos Gigantes de Gelo</h3>
                </ion-item>
                <p>Até onde se sabe, Ymir está morto há muito tempo.

                  No Norte de Midgard, acreditam que o crânio de Ymir é o céu, sua carne é a terra e seu sangue, o oceano. Mas essas afirmações podem ser meramente fruto das histórias contadas pelo orgulhoso Odin e seus irmãos, que contam vantagem por terem assassinado o primeiro jotun e criado a Terra com seu corpo.
                  
                  No começo do tempo, o Reino de Fogo, Muspelheim e o Reino de Gelo, Niflheim, se encontravam no local chamado de Ginnungagap; o grande vazio. Ali, o vapor subiu e se congelou novamente e dessa mistural primordial, Ymir , rei dos Gigantes de Gelo, tomou forma. De seu corpo pingaram os outros seres que se tornariam os ancestrais dos Deuses, Homens, Anões e, é claro, Gigantes. Até o poderoso Odin afirma que Ymir é seu avô. Entretanto, Ymir, como todos os gigantes, era uma criatura perversa e liderou seus irmãos Gigantes contra os Deuses. Depois de eras de guerra, Odin e seus irmãos derrotaram o Rei Gigante e forjaram o mundo com seus restos.
                  
                  Mesmo assim, há outros sussurros por aí. Rumores de que Ymir, apesar de não ser um Deus, ainda é um Ser Primordial e, como tal, não pode ser destruído. Talvez ele esteja apenas dormente em Niflheim, o reino de gelo, ansioso para voltar e trazer destruição e vingança sobre Odin e sua família.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>