<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Loki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Loki" routerDicetion="/Loki">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Assassino/Lokiskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>O Deus Trapaceiro</h3>
                </ion-item>
                <p>Vilão. É uma palavra para descrever aqueles que quebram as regras, que tomam o que querem e não se importam com quem machucam no caminho. Loki, o Deus pregador de peças, diria que vilania não é nada mais do que uma questão de ponto de vista.

                  O ponto de vista dos tolos é incapaz de buscar oportunidades.
                  
                  É claro, com Loki à solta, as consequências serão terríveis. O fim dos tempos pode estar se aproximando. A batalha final, Ragnarok, possivelmente no horizonte, pois diz a profecia que Loki se livraria de sua prisão e seria responsável pela horrenda batalha final que deixaria os Deuses mortos, os céus partidos e o mundo em cinzas. Ninguém anseia mais por esse momento de caos do que Loki.
                  
                  Antes de seu confinamento, a malícia perversa de Loki conseguiu afetar todo Deus de maneiras benéficas e terríveis. Mas o ato mais abominável de Loki se deu com a morte do Deus da luz, Balder.
                  
                  Os sonhos proféticos de Balder revelaram sua própria morte. Temendo por seu filho, Frigga forçou todos os objetos do mundo a jurar jamais machucá-lo. Todos menos o visco. Cruelmente entretido, Loki forjou uma lança com a planta e a entregou ao irmão de Balder, Hoder. Os Deuses tinham criado um novo jogo favorito, arremessar objetos contra Balder e rindo enquanto eles ricocheteavam inofensivamente. Então Hoder arremessou a lança, mas, para o horror de todos, Balder foi empalado. Hela concordou em liberar Balder do submundo se todas as criaturas ficassem de luto pelo Deus da Luz. E todos o fizeram, exceto por uma velha que se recusou a fazê-lo. E assim Balder morreu.
                  
                  Quando se descobriu que a velha era Loki disfarçado, os Deuses furiosos o prenderam em entranhas e penduraram uma serpente venenosa sobre ele. A esposa de Loki, Sigyn, recolheu o veneno que pingava em um prato, mas quando era forçada a esvaziá-lo, Loki era atingido, causando tal angústia que quando se debatia, o mundo tremia.
                  
                  Mas agora Loki está livre e já começou a causar destruição. Se as Völvas proféticas estiverem corretas e, elas sempre estão, então o fim de tudo já chegou.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>