<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inara
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Tank\Inara\inaraaa.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Inara</h2>

        <h5>A Guardiã de Pedra</h5>
        <h6>Tanque <img id="lg" src="\assets\Paladins\classes\TANK.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            　Uma das poucas stagalla remanescentes, Inara relutou em unir-se aos Paladinos na hora que eles precisaram.
            Mas quando o fez, jurou fidelidade até à morte. Originalmente criados para ajudar a Ordem Antiga a rechaçar
            a Primeira Investida do ataque dos goblins, o povo de pedra permaneceu dormente durante gerações, até que
            fosse convocado novamente a lutar. Inara demorou a juntar-se à acção, mas após testemunhar as atrocidades
            cometidas pelo Magistrado, entrou com tudo no combate em favor da Resistência, atendendo ao chamado da
            Valera e dos Paladinos uma vez mais. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Inara\len\mother's-grace.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                COISA DE MÃE
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Força da Terra aumenta em 20% seu poder de redução de dano e concede imunidade a controle coletivo.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Inara\len\treacherous-ground.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                TERRENO TRAIÇOEIRO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              O alcance do Campo Protetor agora é 50% maior e ele também incapacita os inimigos.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Inara\len\tremors.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                TREMORES TERRESTRES

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              O intervalo do Bloqueio é reduzido em 70%.


          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Inara\skill\stone-spear.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">LANÇA DE PEDRA
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Faz um disparo com 3 projéteis causando 225 de dano por 0,3s, a cada 1,25s, a média distância.
          
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Inara\skill\earthen-guard.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
                FORÇA DA TERRA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Entra em um estado defensivo que dura 5s, no qual você e cada artefato seu montado sofrem 30% a menos de dano e você recebe 40% a mais de cura.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Inara\skill\impasse.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>BLOQUEIO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Ergue do chão uma parede de pedra que dura 5s.

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Inara\skill\warders-field.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
                CAMPO PROTETOR

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Cria um obelisco de pedra que dispara pulsos de energia que desaceleram os inimigos em 60% e causam 150 de dano por segundo.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Inara\skill\seismic-crash.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
                ABALO SÍSMICO


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Arremessa sua Lança de Pedra, que atravessa escudos, causa 500 de dano e atordoa por 2s os inimigos numa área de 40 unidades do impacto.


          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>