<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Zhin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Flanco\Zhin\zhin.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Zhin</h2>

        <h5>O Tirano</h5>
        <h6>Flanco <img id="lg" src="\assets\Paladins\classes\FL.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            Depois de ter a sua linhagem nobre usurpada, Zhin perseguiu impiedosamente o seu próprio trono no submundo
            do crime. Assim, ele ganhou a lealdade de ladrões, assassinos e burocratas corruptos suficientes para formar
            um império nas sombras: a Guilda das Mil Mãos. Qualquer um que tramasse contra ele acabava por desaparecer
            misteriosamente no meio da noite, ao passo que aqueles que se opunham directamente viam o seu fim na ponta
            da sua espada flamejante. Com a guerra, ele decidiu não tomar partido por nenhum lado: há muito mais a
            ganhar jogando um contra o outro. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Zhin\len\smolder.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              DEFUMADO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Cura em 33% da sua vida máxima por segundo enquanto durar a Névoa.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Zhin\len\guillotine.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              GUILHOTINA
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Agressão agora causa dano de 25% da vida máxima do alvo a cada acerto e dá a Zhin imunidade a dano. E também
            recarrega a suprema 15% mais rápido.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Zhin\len\yomi.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              YOMI
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Seu ataque mais poderoso, o terceiro, atravessa inimigos, causa 150 mais de dano e não tem limite de
            alcance.

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Zhin\skill\inferno-blade.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">LÂMINA INFERNAL
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Em 2s, arremessa óleo fervente com dois golpes rápidos que causam 400 de dano cada e um terceiro que causa
            700 de dano.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Zhin\skill\counter.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              REVIDE
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Entra em estado defensivo por 1,5s. Se você receber um ataque frontal de um inimigo, não sofre dano e
            contra-ataca causando 600 de dano.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Zhin\skill\billow.jpg jpgionError="BOMBA"> </ion-img>
            <ion-card-title>NÉVOA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Transforma-se em fumaça, tornando-se intangível e ganhando 30% mais velocidade de movimento por 1,5s.

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Zhin\skill\whirl.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>GIRO
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Arremessa-se à frente fazendo com sua espada um arco mortal que causa 400 de dano a inimigos próximos.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Zhin\skill\spite.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              AGRESSÃO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Desfere uma sequência de ataques violentos erguendo no ar e incapacitando o inimigos e sendo imune a
            controle, causando 2000 de dano durante 1,5s.
            
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>