<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Cassie
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Dano\Cassie\cassie.png" ionError="cassie" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Cassie</h2>

        <h5>A Filha do Caçador</h5>
        <h6>Dano <img id="lg" src="\assets\Paladins\classes\DMG.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Ao ver os seus amigos deixarem a Mata de Dentro para se juntarem à luta contra o Magistrado, Cassie
            lamentou a maldição que prendia a linhagem da sua família à sua terra natal. Quando um misterioso oráculo*
            ofereceu-lhe um meio de se livrar das suas obrigações, ela aproveitou sem pensar duas vezes, mesmo sabendo
            que essa escolha a assombraria até ao fim dos dias. Levando nada para além da besta encantada do seu pai e
            a sua inseparável ave de estimação, Zigs, ela apressou-se a se juntar aos Paladinos na sua resistência
            contra o draconiano Magistrado.


          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Cassie\len\impulse.png" ionError="Tyra"> </ion-img>
            <ion-card-title>IMPULSÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Aumenta o dano do Megadisparo em 150 e reduz seu intervalo em 2s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Cassie\len\big-game.png" ionError="Tyra"> </ion-img>
            <ion-card-title>JOGO ALTO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Após acertar um inimigo com Repelir, os tiros subsequentes causarão dano adicional de 10% da vida máxima do
            alvo por 4s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Cassie\len\exaction.png" ionError="Tyra"> </ion-img>
            <ion-card-title>NA MOSCA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            O próximo tiro após a Cambalhota causa 30% de dano adicional.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Cassie\skill\crossbow.jpg"ionError="Tyra"> </ion-img>
            <ion-card-title class="st"> BALESTRA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Uma ágil balestra que causa 680 de dano a cada 0,75s
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Cassie\skill\disengage.jpg" ionError="REPELIR">
            </ion-img>
            <ion-card-title>REPELIR</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara uma flecha que causa 200 de dano e empurra o alvo para trás.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Cassie\skill\blast-shot.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>MEGADISPARO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara um projétil explosivo que causa 450 de dano.
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Cassie\skill\dodge-roll.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>CAMBALHOTA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Rola rapidamente na direção na qual você está se movendo.     
          </ion-card-content>      
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Cassie\skill\scout.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>BATEDOR </ion-card-title>
          </ion-card-header>

          <ion-card-content>
             Envia sua ave aos céus por 8s, revelando aos seus aliados todos os inimigos e concedendo mais 30% de velocidade de movimento e imunidade a controle coletivo.
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>