<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Tyra
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col align-self-center name="lobo"  id="lobo">
            <ion-item>
              
                <ion-img src="\assets\Paladins\Dano\Tyra\tyra.png" ionError="tyra"> </ion-img>
              
            </ion-item>
            <h1>Hitória</h1>
            <h3>
                Criada para atirar impiedosamente e sobreviver aos duros invernos da fronteira, Tyra juntou-se ao exército do Magistrado ainda muito jovem. Após a desastrosa missão final dos Sentinelas, ela voltou à sua terra natal para levar a vida a caçar os monstros que habitam as bordas do Reino e aterrorizam as pessoas comuns. A sua resistência fora de série e a sua precisão cirúrgica com o rifle caíram como uma luva para a sua nova empreitada: ajudar a Resistência a contra-atacar o Magistrado e pôr um ponto final na guerra que assola o Reino.

                
            </h3>
            </ion-col>
          
        </ion-row>
      </ion-grid>
      <h2>Talentos</h2>
      <ion-card>
          <ion-card-header>
              <ion-img src="\assets\Paladins\Dano\Tyra\Legends\1.png" ionError="Tyra"> </ion-img>
            <ion-card-title>QUEIME, MONSTRO!</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              A Bomba Incendiária agora debilita os inimigos e causa 50% mais dano.
          </ion-card-content>
          
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-img src="\assets\Paladins\Dano\Tyra\Legends\marca.png" ionError="Tyra"> </ion-img>
              <ion-card-title>QUEIME, MONSTRO!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                A Bomba Incendiária agora debilita os inimigos e causa 50% mais dano.
            </ion-card-content>
            <ion-card-header>
                <ion-img src="\assets\Paladins\Dano\Tyra\Legends\grana.png" ionError="Tyra"> </ion-img>
              <ion-card-title>QUEIME, MONSTRO!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                A Bomba Incendiária agora debilita os inimigos e causa 50% mais dano.
            </ion-card-content>

          </ion-card>
        
        
</ion-content>
