ion-col{
    margin: 20px;
    margin-left: 0px;
  }
  
  
  ion-item{
    --inner-border-width: 0 0 0px 0;
    border-radius: 15px;
  }
  h1, h3{
    margin-left: 15px;
  }
  h3{
    font-size: 12pt;
  }
 