ion-col{
    margin: 20px;
    margin-left: 0px;
  }
  
  
  ion-item{
    --inner-border-width: 0 0 0px 0;
    border-radius: 15px;
  }
  h1, h3{
    margin-left: 15px;
  }
  h3{
    font-size: 12pt;
  }

  h4{
    margin-left: auto;
    margin-right: auto;
    width: 5.3em;
  }
  h5{
    margin-left: auto;
    margin-right: auto;
    width: 3.9em;
  }
  ion-card-content{
    height: 140px;
  }
  .st{
    font-style: 20pt;
  }