<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bellona
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Bellona" routerDicetion="/Bellona">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guerreiro/BellonaSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Deusa da Guerra</h3>
                </ion-item>
                <p>Ela foi esquecida por Roma.

                  Belona, a Deusa da Guerra, não perdeu tempo construindo templos ou conquistando adoradores. Ela se importa apenas com aqueles cuja vida é a guerra, pois é lá que vive - não nas escadarias de basílicas ou em preces sussuradas, mas na lama suja de sangue, no meio de tropas armadas, no clamor da vitória.
                  
                  Quando Roma era jovem, Belona marchava com exércitos, conquistava inimigos e se tornava cada vez mais forte. Com o passar do tempo, com o declínio de Roma, ela passou a lutar apenas com seu adorador mais forte e astuto, Lúcio Cornélio Sula.
                  
                  Sula se destacou com impressionantes feitos heróicos e proezas incríveis. Seus inimigos o temiam, seus soldados o amavam, e para onde quer que ele fosse, Belona ia com ele. Juntos, eles reprimiram as tropas germânicas, acabaram com a Guerra Social e saquearam Atenas. Graças à Deusa da Guerra, Sula era invencível.
                  
                  O Senado romano decidiu afastá-lo, entretanto, e acabar com sua glória.
                  
                  "Marche sobre Roma", Belona aconselhou, "e sua ascensão será maior que a de qualquer outro."
                  
                  Encorajado, Sula reuniu suas legiões e tomou as ruas da cidade, com Belona na linha de frente, destruindo os gladiadores escravos que tentavam impedi-los. O Senado se curvou. Eles realizaram uma votação e, como resultado, Sula se tornou o primeiro ditador vitalício de Roma.
                  
                  Durante o reinado de Sula, Belona era adorada como merecia. Mas Sula envelheceu. Suas batalhas haviam acabado. Belona seguiu em frente, e Roma esqueceu-se dela.
                  
                  Mas nem sempre os esquecidos se foram de verdade. Agora, os deuses se enfrentam em conflitos titânicos. E é na guerra que ela vive. Ninguém esquecerá Belona, Deusa da Guerra, dessa vez.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>