<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ying
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Sup\Ying\ying.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Ying</h2>

        <h5> A Flor </h5>
        <h6>Suporte <img id="lg" src="\assets\Paladins\classes\sp.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            　Uma jovem e talentosa feiticeira, Ying é a mestra das ilusões e do engodo, capaz de confundir e ludibriar
            os seus adversários. Essa mesma magia serve para acalmar a mente dos aliados, aplacando o sofrimento e
            curando as suas feridas. Foi usando essas habilidades que ela escapou da prisão em que era mantida por um
            rei vil*, e que sobreviveu depois nos seus dias como aventureira. Quando o Magistrado começou a sua campanha
            de conquistas, subjugando o Reino na tentativa de restringir o uso da magia pelas pessoas comuns, ela sentiu
            que era o seu dever juntar-se à luta contra a tirania.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Ying\len\life-exchange.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                INTERCÂMBIO VITAL

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Fragmentar agora cura instantaneamente o alvo em 800, mas não explode mais as Ilusões, e o intervalo aumenta em 1s.




          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Ying\len\focusing-lens.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                LENTES FOCAIS

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Causa 200 de dano adicional se acertar os 5 disparos no mesmo alvo.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Ying\len\resonance.png" ionError="Tyra"> </ion-img>
            <ion-card-title>

                RESSONÂNCIA
              </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Ao ser morta ou desaparecer, a Ilusão provoca uma explosão de Fragmentação que causa 500 de dano.









          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Ying\skill\illusory-mirror.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">

                ESPELHO ILUSÓRIO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Dispara um raio contínuo de curta duração que causa 5 impactos de 90 de dano por 0,2s a cada 0,5s. Efetivo a média distância.



          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Ying\skill\shatter.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
                FRAGMENTAR
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Todas as ilusões ativas passam a perseguir inimigos e explodem causando 500 de dano.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Sup\Ying\skill\illusion.jpg" ionError="BOMBA"> </ion-img>
            <ion-card-title>
                ILUSÃO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Cria uma ilusão que cura os aliados próximos em 420 a cada 1,6s.



          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Ying\skill\dimensional-link.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
                FUGA DIMENSIONAL


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

              Troca de posição com a ilusão mais distante por 4s. Se não houver nenhuma ilusão, Ying irá para o local da última ilusão ativa.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Sup\Ying\skill\illusory-rift.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
                FENDA ILUSÓRIA




            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Aplica um bônus em todos os aliados que cura em 600 por segundo durante 8s. Enquanto o bônus estiver ativo, a Fuga Dimensional teleporta Ying para perto de qualquer aliado.





          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>