<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Maeve 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Flanco\Maeve\Maeve.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Maeve</h2>

        <h5>Lâminas Mortais</h5>
        <h6>Flanco <img id="lg" src="\assets\Paladins\classes\FL.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            　Depois de criar uma reputação como ladra habilidosa e exímia lutadora com facas, a meia-felina Maeve decidiu entrar na guerra para obter ganhos pessoais, vendendo os seus serviços para quem pagar mais. Ela desliza entre as sombras com agilidade fora do comum, escondida pela sua capa mágica, uma recordação de um dos seus roubos mais ousados: a Fortaleza do Magistrado. Apesar dos seus empregadores considerarem os talentos dela úteis, eles não raro constatam o sumiço suspeito de objectos valiosos de valores monetários assim que ela desaparece em busca de uma nova contenda.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Maeve\len\rogue's-gambit.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              AGILIDADE ARDILOSA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Eliminações zeram o intervalo do Bote Súbito, fazendo com que ele cause 10% mais dano.          </ion-card-content>

        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Maeve\len\street-justice.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              JUSTIÇA DAS RUAS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Bote Súbito agora executa os alvos com vida abaixo de 35%. </ion-card-content> 
                </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Maeve\len\cat-burglar.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PULO DO GATO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Os primeiros dois arremessos das adagas feitos até 5s depois do fim da Disparada causam 30% a mais de dano.         </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Maeve\skill\daggers.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">ADAGAS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Arremessa duas adagas por segundo que causam 400 de dano cada.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Maeve\skill\pounce.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>BOTE SÚBITO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Avança rapidamente para frente. Colidir com um inimigo gera um impacto que causa 400 de dano.

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Maeve\skill\nine-lives.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>NOVE VIDAS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Zera os intervalos do Bote Súbito e da Disparada e cura em 400..          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Maeve\skill\prowl.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>DISPARADA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Move-se 60% mais rápido e pula mais alto por 5s. Arremessar as adagas ou usar qualquer outra habilidade cancela a Disparada.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Maeve\skill\midnight.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>MEIA-NOITE
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Inimigos em um raio de 90m têm seu alcance visual diminuído para apenas 9m durante 4s.

          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>