<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Achilles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Achilles" routerDicetion="/Achilles">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Guerreiro/AchillesSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Herói da Guerra de Tróia</h3>
                </ion-item>
                <p>O rei Agamenon trouxe sua fúria contra os troys dourados, pois o príncipe Paris havia roubado sua Helena, sua esposa, cuja beleza rivalizava com a de Atena e Afrodite . Para o famoso Aquiles, guerreiro invencível, o rei deu o comando de mil navios.

                  Através de mares tempestuosos e praia salgada, soldados cercaram a cidade. Flecha e pedra, lâmina e farpa saltaram da pele de Aquiles. Banhado como um bebê no rio Styx por sua mãe Nereida, sua pele estava endurecida, impermanavelmente feita. Através de cada ataque, cada batalha desafiando a morte, Aquiles estava na frente. Tróia ficou pronta para desmoronar.
                  
                  Até que Agamenon deu o truque para o poderoso myrmidon. Em grave ofensa, Aquiles retirou suas forças do campo. Hector, o mais ousado, mais corajoso, o mais velho dos príncipes troianos aproveitou a chance de empurrar os gregos para o mar. O reflexo da água espelhou as velas abrasadoras quando Hector disparou seus navios. Tudo parecia perdido até que Aquiles se levantou para encontrá-lo. Feroz e rápido, os dois titãs lutaram, mas a lança de Hector derrubou Aquiles. Embora Pátroclo fosse, na armadura de Aquiles, não Aquiles que estava morto.
                  
                  Irado com a perda de seu fiel amigo, Aquiles vestiu a armadura recém feita e desafiou Hector sozinho. Lança, lâmina e amor tocaram, mas Aquiles não pôde ser ferido. Heitor, príncipe de Tróia, morreu em batalha naquele dia.
                  
                  Paris, irmão perdido, olhos lacrimosos, solta a flecha, guiado pela inveja divina. Alguns eram deuses que não podiam sofrer Aquiles para sobreviver. Reta e verdadeira a flecha voou e arpoou o calcanhar de Aquiles, onde sua mãe o segurava quando submerso. A ferida foi profunda, sua fraqueza foi encontrada, Aquiles encontrou seu fim.
                  
                  Uma década depois, das profundezas de Hades , Aquiles foi desenhado. Blindado agora, no calcanhar, vingar seu único objetivo. Porque os Deuses invejosos roubaram dele sua glória e sua vida. Agora eles tremem com a ira do homem que não pode ser ferido.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>