<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Thor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Thor" routerDicetion="/Thor">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Assassino/ThorSkin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Deus do Trovão</h3>
                </ion-item>
                <p>Thor é tão famoso quanto ousado, é o Deus do céu relampejante. Mas seu martelo, Mjölnir, é quase tão famoso quanto ele e Thor não se separará da arma.

                  Odin, o Pai-de-Todos, teve muitos filhos, mas nenhum tão conhecido ou poderoso como Thor, que tinha a força para mover montanhas e o poder de invocar relâmpagos do céu. Apesar desses incríveis dons, os inimigos de Thor eram astutos, sedentos de sangue e numerosos. Os Gigantes Gelados constantemente ameaçavam invadir Asgard, exigindo cada grama da forma quase infinita de Thor só para mantê-los sob controle. Se a maré houvesse virado, Asgard poderia ter sido destruída, mas uma simples travessura do traiçoeiro Loki acabou com a criação de Mjölnir, o martelo lendário e com ele, Thor esmagou os Gigantes Gelados completamente.
                  
                  Sif, a esposa de Thor, tinha cabelos como raios do sol passando por um céu nublado e, Loki, cobiçando-a secretamente os cortou enquanto ela dormia. Enlouquecido de raiva, Thor exigiu que Loki resolvesse isso. E assim, Loki procurou os anões de Ivaldi, que forjaram uma coroa dourada que faria crescer cabelo igualmente dourado, uma lança que jamais erra o alvo e um navio que jamais afundaria. Orgulhoso de seus tesouros, Loki voltou a Thor e demais Deuses e deu a coroa para Sif e então gabou-se que itens mais incríveis não poderiam ser forjados.
                  
                  O anão Brokkr ficou ofendido e afirmou que ele e seu irmão poderiam fazer algo melhor. Loki apostou sua cabeça que eles não conseguiriam. Assim Brokkr e seu irmão forjaram três itens, um anel que se duplicava a cada nove dias, um porco dourado que voava e nadava e um martelo, Mjölnir, com o poder de rachar montanhas. Com cada item forjado, Brokkr foi mordido por um pernilongo, mas só no terceiro ele recuou, fazendo com que o cabo do martelo ficasse encurtado. Quando terminaram, os anões levaram os artefatos para os Deuses e acusaram Loki de se disfarçar como um inseto. Todos os Deuses concordaram que Brokkr e seu irmão haviam feito os itens melhores. Loki, sempre astucioso, declarou que seu pescoço não fazia parte da barganha, negando a eles sua cabeça.
                  
                  Mjölnir acabou com Thor, usado para batalhar contra os Gigantes Gelados. Poderoso e orgulhoso, Thor empurrou as hordas malignas de volta e continua a defender Asgard até hoje. Com Mjölnir à mão, Thor é uma força insuperável que até outros Deuses fazem bem em evitar.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>