<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Campeões - Paladins
          </ion-title>
        </ion-toolbar>
      </ion-header>
    <ion-content>
        Campeões - Dano
        <ion-grid>
            <ion-row>
              <ion-col align-self-center name="Tyra"  id="Tyra">
                <ion-item routerLink="/Tyra" routerDicetion="Tyra">
                  <ion-thumbnail slot = "start">
                    <ion-img src="\assets\Paladins\Dano\Tyra\tyra.jpg" ionError="Tyra"> </ion-img></ion-thumbnail>
                    <h1>Tyra</h1>
                </ion-item>
                </ion-col>
                <h2></h2>
                <ion-col align-self-center>
                  <ion-item  routerLink="/tosas" routerDicetion="tosas">
                      <ion-thumbnail slot = "start">

                      <ion-img src="/assets/tosas.jpg" ionError="Lobo"> </ion-img></ion-thumbnail>
                      
                      <h1>Drogoz</h1>

                  </ion-item>
                  
                  </ion-col>
                    
            </ion-row>
          </ion-grid>
            
          <ion-grid>
              <ion-row>
                  <ion-col align-self-center>
                    <ion-item routerLink="/leva" routerDicetion="leva" >
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/leva.jpg" ionError="Lobo"> </ion-img></ion-thumbnail>
                        <h1>Transporte</h1>
                    </ion-item>
                    
                    </ion-col>

                    <ion-col align-self-center>
                      <ion-item routerLink="/entrega" routerDicetion="entrega">
                          <ion-thumbnail slot = "start">
                          <ion-img src="/assets/Tele.jpg" ionError="Lobo"> </ion-img></ion-thumbnail>
                          <h1>Entrega de Produtos</h1>
                      </ion-item>
                      </ion-col>
                     
                        
                
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col align-self-center>
                  <ion-item routerLink="/loja" routerDicetion="loja">
                      <ion-thumbnail slot = "start">
                      <ion-img src="/assets/shop.jpg"  ionError="Lobo"> </ion-img></ion-thumbnail>
                      <h1 >Loja PeT </h1>
                  </ion-item>
                  </ion-col>
                  
                      <ion-col align-self-center>
                        <ion-item routerLink="/medicamentos" routerDicetion="medicamentos">
                            <ion-thumbnail slot = "start">
                            <ion-img src="/assets/vete.png" ionError="Lobo"> </ion-img></ion-thumbnail>
                            <h1>Medicamentos Veterinários</h1>
                        </ion-item>
                        
                        </ion-col>
                        
                
              </ion-row>
            </ion-grid>
    </ion-content>
    