ion-col{
    margin: 20px;
    margin-left: 0px;
}

ion-img{
  
    
}
ion-item{
    
}
h1{
    margin-left: 5px;
    font-size: 18pt
}

h2{
    margin-left: 92px;
    font-size: 15pt
}
h4{
   
    padding-left: 55px;
    font-weight: bold;
    background-color: skyblue;
    width: 100%;
    
}
.tt{
 
}



