<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Poseidon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Hades" routerDicetion="/Hades">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Mago/Poseidonskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Deus dos Oceanos</h3>
                </ion-item>
                <p>Muito abaixo das marés turbulentas do oceano, habita um Deus cuja ira está estagnada. Como deve ser viver sempre na sombra do seu irmão? Ser negado repetidamente de tudo aquilo o que você deseja, apesar de você comandar o poder dos mares raivosos? É por isso que Poseidon permanece emburrado em seu trono no fundo do mar.

                  Quando criança, Poseidon e seu irmão, Hades, foram engolidos pelo pai, Cronos. Incapazes de escapar, coube ao poderoso Zeus libertá-los e assassinar seu patriarca. Juntos, eles derrotaram o restante dos Titãs e começaram uma nova era de domínio para os Deuses do Olimpo, mas sua liberdade, sua própria vida... eram coisas que Zeus jamais deixaria qualquer um dos irmãos esquecer que eram devidas a ele. Mesmo enquanto os céus, o submundo e o os mares estavam sendo divididos entre eles, Zeus se posicionou como o rei de tudo e, o que mais Poseidon poderia fazer além de agradecer por ter sido poupado do destino na barriga de seu pai? Então, ele se recolheu em seu novo reino e começou a busca para conseguir adoradores.
                  
                  Logo uma grande cidade costeira foi erigida pela humanidade e Poseidon se apresentou como seu Deus, mas outra já havia chegado: Atena, filha de Zeus. Uma competição se instaurou: cada divindade ofereceria um presente e as pessoas escolheriam seu patrono. Confiante, Poseidon enterrou seu Tridente (um troféu da batalha contra os Titãs) no chão e uma fonte sem fim emergiu, mas as pessoas notaram que a água era salgada e não poderia ser bebida. Atena estendeu sua mão e uma oliveira graciosa surgiu da terra. Madeira, comida e óleo, tudo vindo de um único presente. As pessoas escolheram e a cidade foi batizada de Atenas.
                  
                  Pode ser que Poseidon jamais tenha desejado a grandiosidade como Zeus. Tivera seu pai jamais o devorado, ele nunca teria se tornado o Deus dos Oceanos. Tivera seu irmão jamais se coroado como Rei dos Deuses, Poseidon talvez pudesse ter vivido contentemente, mas essa chance se foi. Agora, com as próprias marés a seu comando, um exército de criaturas marinhas o seguindo e o formidável Kraken ao seu dispor, o carrancudo Deus das profundezas busca saciar sua ira sedenta e mergulhar o mundo inteiro sob seus mares bravios.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>