<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Khan
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src=\assets\Paladins\Tank\Khan\khan.png ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Khan</h2>

        <h5> Primaz da Casa Aico</h5>
        <h6>Tanque <img id="lg" src="\assets\Paladins\classes\TANK.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            　O patriarca da Casa Aico lançou um desafio aos seus capitães: carregar o estandarte da casa o máximo que
            conseguirem. Poucos foram fortes o suficiente para resistirem um dia. O último capitão a encarar o desafio,
            um jovem chamado Khan, empunhou por horas. Conforme os seus braços iam-se fatigando, ele chamou uma serva e
            pediu que ela tomasse conta do estandarte. “Ainda que eu caia”, disse ele, “o estandarte deve permanecer”.
            Este teste, entretanto, não media a força, e sim a lealdade à Casa Aico. Khan passou e provou que era digno
            e confiança. Hoje, ele serve Lian como conselheiro e protector. </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Khan\len\storm-of-bullets.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              CHUVA DE BALAS

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Sua arma dispara 40% mais rápido e tem 10 balas a mais, mas causa 25% menos dano por disparo.




          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Khan\len\lian's-shield.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
                ESCUDO DE LIAN


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Seu escudo tem seu carregamento 100% mais efetivo enquanto levantado.


          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Khan\len\vortex-grip.png" ionError="Tyra"> </ion-img>
            <ion-card-title>

              VÓRTEX PARALISANTE

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            As vítimas da Constrição do Comandante permanecem atordoadas por mais 2s.




          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Tank\Khan\skill\heavy-repeater.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">REPETIDOR PESADO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Efetua um disparo a cada 0,26 segundos, que causa 200 de dano.


          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Khan\skill\bulwark.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>
              BARREIRA
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Suas luvas criam uma barreira de proteção com 6000 de vida. A habilidade se recarrega enquanto não está
            ativa.

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Khan\skill\battle-shout.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>BRADO DE BATALHA

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dá um grito aterrorizante e fica imune a dano por um breve período. Além disso, cura a si mesmo e aos
            aliados em 1000 de vida.

          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Khan\skill\commanders-grab.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>
              CONSTRIÇÃO DO COMANDANTE

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            Projeta-se para frente, agarrando, atordoando e arremessando o primeiro inimigo que atingir. Causa 600 de
            dano.



          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Tank\Khan\skill\overpower.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>
              TRIUNFO


            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Agarra um inimigo e puxa ele até você, deixando-o indefeso. Você pode jogar o inimigo onde quiser, ou
            arremessá-lo longe com um poderoso golpe.



          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>