<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Zeus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Hades" routerDicetion="/Hades">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Mago/Zeusskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Deus do Céu</h3>
                </ion-item>
                <p>Rei dos Deuses, Zeus busca imparcialidade e justiça, mas não hesita em invocar o trovão quando há punições divinas a serem feitas!

                  O pai de Zeus, o Titã Cronos, engolia imediatamente seus filhos após nascerem, para que nenhum deles pudesse destroná-lo como ele havia feito com seu próprio pai. Quando Zeus nasceu, Reia, a mãe de Zeus, escondeu o filho de Cronos e deu ao Titã uma pedra envolvida em faixas, que ele engoliu em seu lugar. Em segredo, Zeus cresceu na ilha de Creta até se tornar mais velho e forte o suficiente para desafiar seu pai. Durante sua batalha, Zeus rasgou a barriga de Cronos, permitindo que seus irmãos e irmãs engolidos escapassem, matando o Titã. Então, Zeus libertou o Ciclope e outros seres que Cronos havia aprisionado. Como gratidão, o Ciclope concedeu a Zeus o controle sobre os relâmpagos.
                  
                  Com seus irmãos, Poseidon e Hades, os três deuses sortearam o comando da criação. Poseidon se tornou rei dos mares, Hades do Submundo e Zeus do céu. Do topo de seu trono dourado no topo do Monte Olimpo, Zeus agora reina sobre os Homens com sua esposa Hera, garantindo a justiça, hospitalidade, juramentos e honestidade a todos sob seu domínio.
                  
                  Mesmo assim, Zeus é um Deus inquieto e, apesar dele ter altas expectativas sobre os outros, ele não mantém os mesmos padrões para si mesmo. Acima de tudo, Zeus é quase infame por seus inúmeros atos de infidelidade à esposa, que resultaram em dúzias de filhos com outras mulheres, dentre os quais os mais famosos são Hércules, Ártemis e Atena. Tal infidelidade irresponsável é fonte de grande ciúme para Hera, mas como Rei, Zeus pode finalmente fazer o que bem entender.
                  
                  O clima é ditado pelo humor do Deus do Trovão. Quando está calmo, o céu fica limpo, brilhante e quente. Quando a raiva de Zeus se exalta, nuvens sombrias surgem, relâmpagos passam pelos céus e trovões fazem a terra tremer. Ultimamente, Zeus tem estado furioso.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>