<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guerreiro
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
                <ion-col align-self-center>
                  <ion-item routerLink="/Achilles" routerDicetion="/Achilles">
                      <ion-thumbnail slot = "start">
                      <ion-img src="/assets/smite/Guerreiro/Achilles.png"  ionError="icon"> </ion-img></ion-thumbnail>
                      <h1 >Achilles</h1>
                  </ion-item>
                  </ion-col>
                  <ion-col align-self-center>
                    <ion-item routerLink="/Bellona" routerDicetion="/Bellona">
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/smite/Guerreiro/Bellona.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                        <h1 >Bellona</h1>
                    </ion-item>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col align-self-center>
                    <ion-item routerLink="/ReiArthur" routerDicetion="/ReiArthur">
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/smite/Guerreiro/KingArthur.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                        <h1 >Rei Arthur</h1>
                    </ion-item>
                    </ion-col>
                    <ion-col align-self-center>
                      <ion-item routerLink="/Odin" routerDicetion="/Odin">
                          <ion-thumbnail slot = "start">
                          <ion-img src="/assets/smite/Guerreiro/Odin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                          <h1 >Odin</h1>
                      </ion-item>
                      </ion-col>
                  </ion-row>

      </ion-grid>
</ion-content>
