<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chronos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="/Chronos" routerDicetion="/Chronos">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Mago/Chronosskin.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h3>Guardião do Tempo</h3>
                </ion-item>
                <p>Existência é medida pela idade. Quantos anos um mortal viveu? Qual foi a data em que o Partenon foi construído? Quando o cosmos se formou? O tempo começa no nascimento, na criação. Mas, inevitavelmente, o tempo de tudo chega ao fim.

                  Exceto, é claro, o próprio tempo.
                  
                  Detentor do relógio da eternidade, margeado com os símbolos do Zodíaco, o Deus do Tempo, Chronos conta cada tique dos ponteiros, impedindo todos de interferir com inexorável movimento para frente.
                  
                  Se ele sabe quando o relógio eterno recebeu corda ou quem o fez, Chronos não diz a ninguém, mas com o primeiro badalar, ele veio a existir. O Vazio era o oceano na época e sua única companheira era Ananque, Rainha do Destino. Juntos, seus poderes dividiram a vastidão entre paraíso e terra, entre mar e céu. Desde então, Chronos se tornou um observador, o guardião da infinitude.
                  
                  Paciente até demais, Chronos não conhece a urgência. Ele não teme dor, guerra ou morte, pois ele é o próprio tempo e sobreviverá a tudo e a todos. Por esse motivo, sua presença no campo de batalha é alarmante. A guerra entre os Deuses deve pressagiar um resultado tão terrível que ameaça a própria existência do tempo. Talvez, todos os Deuses devessem começar a contar os segundos do relógio eterno. Pode ser que só restem mais alguns deles.
                  
                  </p>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>