<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Skye 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Flanco\Skye\skye.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Skye</h2>

        <h5>Assassina do Crepúsculo</h5>
        <h6>Flanco <img id="lg" src="\assets\Paladins\classes\FL.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            　　　De sangue e nascimento nobres, Skye abandonou uma vida de riqueza e luxo para perseguir os seus sonhos de aventura e emoção. Durante a sua vivência nas ruas e a sua interacção com o submundo criminoso do Reino, ela descobriu um talento natural e uma paixão sem limites por matar. Quando a sua carreira como assassina de aluguér trouxe fama e fortuna, ela chamou a atenção do Magistrado e hoje em dia é uma das principais conselheiras do Magistrado Karne em pessoa. Para ela, a guerra do Reino é apenas um contrato de longa duração, um contrato que não terminará enquanto todos os Paladinos não tiverem sido mortos.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Skye\len\debilitate.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              DEBILITAR</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Os Dardos Tóxicos agora causam 25% mais dano, duas vezes mais rápido.
          </ion-card-content> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Skye\len\smoke-and-dagger.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              FUMAÇA E ADAGA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Nuvem de Fumaça agora cura os aliados dentro dela em 400 de vida por segundo.
          </ion-card-content> 
                </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Skye\len\preparation.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PREPARAÇÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Matar um inimigo zera todos os intervalos e cura em 500 de vida.
          </ion-card-content> 
          </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Skye\skill\wrist-crossbow.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">BESTA DE PULSO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Uma besta de energia acoplada ao pulso que causa 130 de dano por disparo a cada 0,1s. Efetivo a curta distância.      
              </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Skye\skill\poison-bolts.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>DARDOS TÓXICOS
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara 3 dardos sucessivos que causam dano de 10% do máximo de vida do alvo após 4s.

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Skye\skill\smoke-screen.jpg jpgionError="BOMBA"> </ion-img>
            <ion-card-title>NUVEM DE FUMAÇA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Cria uma nuvem de fumaça que dura 5s. Concede furtividade que dura 3s.
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Skye\skill\hidden.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>ESCONDIDA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Ganha furtividade por 7,5s. Aproximar-se demais dos inimigos pode fazer com que Skye seja revelada.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Skye\skill\time-bomb.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>BOMBA-RELÓGIO

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Arremessa uma bomba que causa 3000 de dano e destrói todos os escudos.
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>