<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tyra
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Flanco\Evie\evie.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Evie</h2>

        <h5>A Bruxa Invernal</h5>
        <h6>Flanco <img id="lg" src="\assets\Paladins\classes\FL.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>

            　　Depois de astutamente enganar e aprisionar um elemental de gelo numa gema mágica, Evie transformou-se da
            noite para o dia de maga aprendiz para a bruxa do Inverno. Apesar de não ser mais bem-vinda na sua vila
            natal, a qual ela abandonou para seguir um destino incerto, ela descobriu que os seus dons eram muito
            requisitados na luta contra o Magistrado. As suas verdadeiras intenções, entretanto, permanecem tão
            misteriosas quanto o seu passado, levando os seus aliados a questionarem tanto a sua lealdade quanto a
            capacidade dela de manter aprisionado o vingativo elemental.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Evie\len\wormhole.png" ionError="Tyra"> </ion-img>
            <ion-card-title>
              BURACO DE MINHOCA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Piscada pode ser usada uma segunda vez, dentro de 4s, para voltar ao local de origem.
          </ion-card-content>

        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Evie\len\snow-globe.png" ionError="Tyra"> </ion-img>
            <ion-card-title>GLOBO DE NEVE</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Nevasca agora causa 100% mais dano e gasta 50% da energia da suprema, mas dura apenas 3s.          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Evie\len\over-the-moon.png" ionError="Tyra"> </ion-img>
            <ion-card-title>SOB O LUAR</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Causa 20% mais de dano por 3s depois do fim do Sobrevoo.          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Flanco\Evie\skill\ice-staff.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">CAJADO DE GELO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            O cajado dispara uma rajada congelante que explode na área de impacto e causa 850 de dano por segundo.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Evie\skill\ice-block.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>BLOCO DE GELO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Fica imune a qualquer dano por 3s, não podendo se mover ou atacar.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Evie\skill\blink.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>PISCADA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Teleporta para frente, a uma curta distância.
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Evie\skill\soar.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>SOBREVOO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Sobe no seu cajado e decola em um voo por 2s.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Flanco\Evie\skill\ice-storm.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>NEVASCA </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lança uma gigantesca tempestade de gelo que causa 40 de dano a cada 0,25s, desacelerando e debilitando os inimigos dentro dela. Dura 6s.
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>