<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/hirez.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Bem vindo a Hi-rez</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A Hi-Rez Studios é uma desenvolvedora independente de videogames, os jogos que a Hi-Rez Studios possuem são no total de 5 porém os principais são o MOBA "Smite" em terceira pessoa e o jogo de tiro Hero "Paladins".</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Jogos</ion-label>
      </ion-list-header>
      <ion-item href="https://www.smitegame.com/play-for-free">
       <img src="assets/smite.png">

      <ion-label>Smite</ion-label>
      </ion-item>
      <ion-item  id="pl" href="https://www.paladins.com/">
        <img src="assets/Paladins/icon.png">
        <ion-label><h5>Paladins</h5> </ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
