<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Caçador
    </ion-title>
  </ion-toolbar>
</ion-header>

<<ion-content>
  <ion-grid>
      <ion-row>
              <ion-col align-self-center>
                <ion-item routerLink="#" routerDicetion="#">
                    <ion-thumbnail slot = "start">
                    <ion-img src="/assets/smite/Hunter/Apollo.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                    <h1 >Apollo</h1>
                </ion-item>
                </ion-col>
                <ion-col align-self-center>
                  <ion-item routerLink="#" routerDicetion="#">
                      <ion-thumbnail slot = "start">
                      <ion-img src="/assets/smite/Hunter/Artemis.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                      <h1 >Artemis</h1>
                  </ion-item>
                  </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col align-self-center>
                  <ion-item routerLink="#" routerDicetion="#">
                      <ion-thumbnail slot = "start">
                      <ion-img src="/assets/smite/Hunter/Izanami.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                      <h1 >Izanami</h1>
                  </ion-item>
                  </ion-col>
                  <ion-col align-self-center>
                    <ion-item routerLink="#" routerDicetion="#">
                        <ion-thumbnail slot = "start">
                        <ion-img src="/assets/smite/Hunter/Xbalanque.jpg"  ionError="icon"> </ion-img></ion-thumbnail>
                        <h1 >Xbalanque</h1>
                    </ion-item>
                    </ion-col>
                </ion-row>

    </ion-grid>
</ion-content>