<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tyra
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Dano\Lian\lian (2).png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Lian</h2>

        <h5>Herdeira da Casa Aico</h5>
        <h6>Dano <img id="lg" src="\assets\Paladins\classes\DMG.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Depois de tramar para ser escolhida como legítima herdeira do Trono de Rubi, nada ficou no caminho de Lian.
            A sua sincera dedicação ao legado da sua família era suficiente para que ela merecesse o título de
            Herdeira, mas a sua habilidade com o rifle foi o que realmente garantiu o respeito da Guarda Real da sua
            família. Quando o Magistrado convocou todas as casas leais a juntarem-se na sua luta contra a Resistência,
            ela sentiu-se obrigada pela honra a atender, e deixou as suas longínquas terras para representar a Casa
            Aico no combate, juntamente com o seu leal general e guarda-costas Khan.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Lian\len\precision.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PRECISÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Acertar tiros consecutivos aumenta o dano causado pelo Rifle Herdado nesses alvos em 5% por 5 segundos,
            estocando em até 25%.
          </ion-card-content>

        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Lian\len\precision.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PRONTIDÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Graça agora atinge todos os inimigos à sua frente, ao invés de só um, e seu intervalo é reduzido em 1s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Lian\len\eminence.png" ionError="Tyra"> </ion-img>
            <ion-card-title>TRANSCENDÊNCIA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Presença causa 50% mais de dano ao atingir alvos baseado na distância, e seu intervalo é reduzido em 4s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Lian\skill\heirloom-rifle.jpg" ionError="Tyra"> </ion-img>
            <ion-card-title class="st">RIFLE HERDADO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Um rifle que foi passado de geração para geração da sua nobre casa por décadas. Causa 400 de dano a cada
            0,45s e tem alcance médio.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Lian\skill\valor.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>VALOR</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara um tiro potente que causa 400 de dano a todos os inimigos à sua frente. É uma arma de ataque.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Lian\skill\presence.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>PRESENÇA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Carrega seu rifle por 0,5s e então realiza um disparo de longo alcance que atravessa os inimigos causando
            800 de dano. É uma arma de ataque.
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Lian\skill\grace.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>GRAÇA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Desliza rapidamente na direção em que está se movendo e dispara um tiro de rifle que causa 400 de dano ao
            inimigo mais próximo do ponto no qual está mirando. É uma arma de ataque.

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Lian\skill\enlightenment.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>ILUMINAÇÃO </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Ganha imunidade a dano e a controle por 1s, e então dispara uma poderosa rajada que passa pelos inimigos e
            causa 1600 de dano. Matar um inimigo carrega 50% da suprema.
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>