<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tyra
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center name="lobo" id="lobo">


        <ion-img src="\assets\Paladins\Dano\Tyra\tyra.png" ionError="tyra" style="
                background-color: #0e222b;
                width: 106%;
                border: 2px inset rgb(15,41,50);
">
        </ion-img>


        <h2>Lian</h2>

        <h5>Herdeira da Casa Aico</h5>
        <h6>Dano <img id="lg" src="\assets\Paladins\classes\DMG.png"></h6>

        <br>
        <div id="BD">
          <h1>História</h1>
          <h3>
            Depois de tramar para ser escolhida como legítima herdeira do Trono de Rubi, nada ficou no caminho de Lian.
            A sua sincera dedicação ao legado da sua família era suficiente para que ela merecesse o título de
            Herdeira, mas a sua habilidade com o rifle foi o que realmente garantiu o respeito da Guarda Real da sua
            família. Quando o Magistrado convocou todas as casas leais a juntarem-se na sua luta contra a Resistência,
            ela sentiu-se obrigada pela honra a atender, e deixou as suas longínquas terras para representar a Casa
            Aico no combate, juntamente com o seu leal general e guarda-costas Khan.
          </h3>
        </div>
      </ion-col>

    </ion-row>

    <h4>Talentos</h4>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Tyra\Legends\1.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PRECISÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Acertar tiros consecutivos aumenta o dano causado pelo Rifle Herdado nesses alvos em 5% por 5 segundos, estocando em até 25%.
          </ion-card-content>

        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Tyra\Legends\marca.png" ionError="Tyra"> </ion-img>
            <ion-card-title>PRONTIDÃO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Graça agora atinge todos os inimigos à sua frente, ao invés de só um, e seu intervalo é reduzido em 1s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src="\assets\Paladins\Dano\Tyra\Legends\grana.png" ionError="Tyra"> </ion-img>
            <ion-card-title>TRANSCENDÊNCIA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Presença causa 50% mais de dano ao atingir alvos baseado na distância, e seu intervalo é reduzido em 4s.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4>Habilidades</h4>
    <ion-slides pager="true">

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Tyra\Legends\Skills\auto-rifle.jpg ionError="Tyra"> </ion-img>
            <ion-card-title class="st"> RIFLE DE CAÇA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Dispara a cada 0,09s causando 120 de dano. Efetivo a curta e média distância. Cura Tyra em 15% do dano
            causado.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Tyra\Legends\Skills\nade-launcher.jpg ionError="LANÇA-GRANADAS">
            </ion-img>
            <ion-card-title>LANÇA-GRANADAS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Atira uma granada que causa 700 de dano dentro de uma pequena área.
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Tyra\Legends\Skills\fire-bomb.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>BOMBA INCENDIÁRIA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lança um artefato incendiário que causa um lago de fogo por 6s e queima 9% da vida máxima dos inimigos a
            cada 0,6s e reduz sua cura por 50%.
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Tyra\Legends\Skills\hunters-mark.jpg ionError="MARCA"> </ion-img>
            <ion-card-title>MARCA DA CAÇADORA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Marca um inimigo por 6s. Inimigos marcados são revelados e recebem 15% a mais de dano dos seus ataques com
            arma.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-img src=\assets\Paladins\Dano\Tyra\Legends\Skills\crossfire.jpg ionError="BOMBA"> </ion-img>
            <ion-card-title>FOGO CRUZADO </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Ganha 40% mais velocidade de ataque e 40% mais velocidade de movimento por 4,5s. Os disparos não consomem
            munição.
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-grid>


</ion-content>