<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Classes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-item routerLink="/Mago" routerDicetion="/Mago">
            <ion-thumbnail slot = "start">
            <ion-img src="/assets/smite/smitemago.png"  ionError="icon"> </ion-img></ion-thumbnail>
            <h1 >Mago</h1>
        </ion-item>
        </ion-col>
        <ion-col align-self-center>
          <ion-item routerLink="/Assassino" routerDicetion="/Assassino">
              <ion-thumbnail slot = "start">
              <ion-img src="/assets/smite/smiteassassino.png"  ionError="icon"> </ion-img></ion-thumbnail>
              <h1 >Assassino</h1>
          </ion-item>
          </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col align-self-center>
        <ion-item routerLink="/Guardião" routerDicetion="/Guardião">
            <ion-thumbnail slot = "start">
            <ion-img src="/assets/smite/smiteguardiao.png"  ionError="icon"> </ion-img></ion-thumbnail>
            <h1 >Guardião</h1>
        </ion-item>
        </ion-col>
        <ion-col align-self-center>
          <ion-item routerLink="/Guerreiro" routerDicetion="/Guerreiro">
              <ion-thumbnail slot = "start">
              <ion-img src="/assets/smite/smiteguerreiro.png"  ionError="icon"> </ion-img></ion-thumbnail>
              <h1 >Guerreiro</h1>
          </ion-item>
          </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col align-self-center>
        <ion-item routerLink="/Cacador" routerDicetion="/Cacador">
            <ion-thumbnail slot = "start">
            <ion-img src="/assets/smite/smitecacador.png"  ionError="icon"> </ion-img></ion-thumbnail>
            <h1 >Caçador</h1>
        </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid> 
</ion-content>

